@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

@layer components {



  nav {
    @apply
    flex 
    w-full 
    right-0 
    flex-col 
    rounded-br-md 
    rounded-bl-md 
    border 
    gap-3 
    py-2
    top-12 
    text-center 
    text-gray-500 
    text-sm
    dark:text-slate-50 
    dark:border-0
    md:w-auto
    md:flex-row
    md:bg-none
    md:border-none
    md:rounded-none
    md:items-center
    md:gap-6
    md:text-sm
    lg:text-base
  }

  section {
    @apply 
    py-8 
    even:bg-zinc-100 
    even:dark:bg-slate-700 
    transition-colors 
    duration-300
    overflow-hidden
  }


  .container {
    @apply mx-auto px-2
  }

  .container__body {
    @apply
    mt-5
    md:mt-8
    lg:mt-10
    
  }

  .section-title {
    @apply 
    text-center 
    font-bold 
    text-2xl 
    text-gray-800
    dark:text-slate-50
    md:text-3xl
    lg:text-4xl
  }


  /* Skills CSS */
  .skills__image-container {
    @apply 
    w-24 
    h-24 
    bg-white 
    flex 
    justify-center 
    items-center 
    flex-col 
    rounded-md 
    shadow-lg 
    gap-2 
    transition-all
    duration-300
    hover:scale-105
    dark:bg-slate-700 
    dark:shadow-slate-900
    dark:hover:shadow-amber-200
    dark:hover:scale-100
    md:w-32
    md:h-32
    lg:h-48   
    lg:w-48
    lg:gap-5
  }
  .skills__image {
    @apply 
    w-8 
    h-8
    md:w-14
    md:h-14
  }
  .skills__image-container p {
    @apply 
    text-gray-500
    font-semibold
    text-xs
    dark:text-slate-50 
    md:text-lg
    lg:text-xl
  }


  /* Experience CSS */
  .experience__title {
    @apply 
    relative text-lg font-bold pl-4 
    before:content-[''] 
    before:absolute 
    before:w-3
    before:h-3 
    before:bg-sky-500
    before:-left-[0.3rem]
    before:top-2
    before:rounded-full
    before:dark:bg-amber-200
    md:text-xl
    lg:text-2xl
  }

  .experience__title-location {
    @apply 

  }
  .experiece__description {
    @apply
  }

  /* Contact CSS */
  .contact-btn {
    @apply
    px-2 
    py-1 
    border-2 
    hover:shadow-md
    hover:shadow-sky-200
    border-sky-500 
    text-sky-500 
    font-semibold 
    rounded-[0.25rem] 
    text-sm
    transition-all
    duration-300
    dark:border-amber-200
    dark:text-amber-200
    dark:hover:shadow-md
    dark:hover:shadow-amber-200
    md:px-4
    md:py-2
    md:text-sm
    md:rounded-xl
    md:mt-3
  }

  .contact-info {
    @apply 
    flex 
    items-center 
    gap-4 
    py-2 
    rounded-md 
    w-56 
    justify-center 
    bg-white 
    text-sky-500 
    font-semibold 
    shadow-md
    text-sm
    dark:bg-slate-900
    dark:shadow-slate-900
    dark:text-amber-200
    md:w-80
    md:text-base
    lg:text-lg
    lg:w-96
  }
}
